<?xml version="1.0"?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="sensor.xacro"/>
  <xacro:arg name="namespace" default="/robot"/>
  <xacro:arg name="pose" default="0 0 0 0 0 0"/>
  <!-- Optional overrides; their defaults are the macro's, from sensor.xacro. -->
  <xacro:arg name="rate" default="${str(xgc2_simple_lidar_default_rate)}"/>
  <xacro:arg name="max_range" default="${str(xgc2_simple_lidar_default_max_range)}"/>
  <xacro:arg name="samples" default="${str(xgc2_simple_lidar_default_samples)}"/>
  <xacro:arg name="layers" default="${str(xgc2_simple_lidar_default_layers)}"/>
  <xacro:arg name="vertical_fov" default="${str(xgc2_simple_lidar_default_vertical_fov)}"/>
  <xacro:arg name="horizontal_fov" default="${str(xgc2_simple_lidar_default_horizontal_fov)}"/>
  <xacro:arg name="acceleration" default="${str(xgc2_simple_lidar_default_acceleration)}"/>
  <xacro:xgc2_simple_lidar_sensor namespace="$(arg namespace)" pose="$(arg pose)"
    rate="$(arg rate)" max_range="$(arg max_range)" samples="$(arg samples)"
    layers="$(arg layers)" vertical_fov="$(arg vertical_fov)" horizontal_fov="$(arg horizontal_fov)" acceleration="$(arg acceleration)"/>
</sdf>
